header {
  position: relative;
  top: 0;
  z-index: 100;

  &.hide_sticky_header {
    animation: 0.3s ease-out 1 hide-header;
    animation-fill-mode: forwards;
  }
  &.show_sticky_header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 12px 20px;
    background-color: #fff;

    animation: 0.3s ease-in 1 show-header;
    animation-fill-mode: forwards;

    .hd-wrapper{
      padding: 0;
    }
  }
}

@keyframes show-header {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes hide-header {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.header-nav {
  position: relative;
  padding: 10px 0;
  transition: 0.3s;
}
.header-nav::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.header-nav:hover.header-nav::before {
  width: 100%;
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
