.formContainer{
    .error{
        font-style: bold;
    }

    input{
        box-sizing: border-box;
        height: 48px;
        border-radius: 8px;

        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
    
    .messageInput{
        box-sizing: border-box;
        height: 106px;
        border-radius: 8px;

        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;

        resize: none;
    }
    
    button.submitBtn{
        border-radius: 26px;
    }

    
    .fieldsContainer{
        @media screen and (min-width:1440px) {
            input{
                width: 302px;
            }
        }
    }
}