.react-multi-carousel-dot-list {
  position: relative;
  width: auto;
  /* margin-left: 15%;
  margin-top: 170px; */
  overflow: hidden;
}

.carousel-box {
  height: 530px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.react-multi-carousel-list {
  min-height: 320px;
}

.carousel-button-group {
  margin-top: -44px;
  z-index: 11;
}

.carosel-custom-arrow {
  width: 16px;
  height: 16px;
  margin: 8px;
  border: 1px solid #fff;
  border-left: none;
  border-bottom: none;
}
.carosel-custom-arrow.arrow-right {
  transform: rotate(45deg);
  margin-left: -0px;
}
.carosel-custom-arrow.arrow-left {
  transform: rotate(-135deg);
  margin-right: -0px;
}

.react-multi-carousel-item {
  position: relative;
  z-index: 10;
}
.react-multi-carousel-item--active {
  position: relative;
  z-index: 20;
}
.react-multi-carousel-item--active .custom-styles {
  padding: 50px;
  gap: 30px;
  width: 537px;
  min-height: 314px;
  background: #740693;
  border-radius: 10px;
}

.react-multi-carousel-item--active .custom-styles p {
  max-height: fit-content;
}

@media screen and (max-width: 1024px) {
  .react-multi-carousel-item--active .custom-styles {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .react-multi-carousel-dot-list {
    display: none !important;
    background-color: #fff;
  }
  .carousel-button-group {
    margin-top: 20px;
  }
}
