.cart {
  max-width: 100%;
  padding-right: 30px;
  
  h3 {
    max-width: 100%;
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
  }
  small {
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #f5f5f5;
    margin-right: 20px;
    padding: 4px;
  }
  p {
    max-width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #f5f5f5;
    max-height: 100px;
    overflow: hidden;
    transition: 0.3s;
    margin-bottom: 20px;
  }
  p {
    max-height: 100%;
  }
  div {
    max-width: 100%;
  }
}
