.navList{

    li{
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid transparent;


        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    li.checked{
        border-color: #000000;
        box-sizing: border-box;
        border-radius: 40px;
    }

    li.bold{
        font-weight: bold;
    }
}