.link {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #c736ef;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #c736ef;
  transition: width 0.3s;
}
.link:hover::after {
  width: 100%;
}

.case {
  max-width: 100%;
  padding-right: 30px;
  
  h3 {
    max-width: 100%;
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #c736ef;
  }

  small {
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #f5f5f5;
    margin-right: 20px;
    padding: 4px;
  }

  p {
    max-width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #f5f5f5;
    max-height: 100px;
    overflow: hidden;
    transition: .3s;
    margin-bottom: 20px;
  }
  p:hover{
    max-height: 100%;
  }
  div{
    max-width: 100%;
  }
}
