@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

$tablet-breakpoint: 768px;
$small-desktop-breakpoint: 1200px;
$desktop-breakpoint: 1400px;

body {
  font-family: Manrope, sans-serif;
}

.container {
  width: 340px;
  margin: 0 auto;
  max-width: none;
}

@media (min-width: $tablet-breakpoint) {
  .container {
    width: 704px;
  }
}

@media (min-width: $small-desktop-breakpoint) {
  .container {
    width: 1136px;
  }
}


@media (min-width: $desktop-breakpoint) {
  .container {
    width: 1243px;
  }
}

.section {
  padding-left: 15px;
  padding-right: 15px;
}

// @layer base {
//   body {
//     min-height: 100vh;

//   }
// }
