@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$large-desktop-breakpoint: 1440px;

body {
  font-family: Manrope, sans-serif;
  background-color: rgb(221, 230, 237);
}

.container {
  max-width: 340px;
  max-width: none;
}

.section{
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width:375px) {
  .container{
    max-width: none;
    width: 340px;
  }
}

@media (min-width: $tablet-breakpoint) {
  .container {
    width: 704px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .container {
    width: 1136px;
  }
};

@media (min-width:$large-desktop-breakpoint) {
  .container{
    width: 1302px;
  }
}

// @media (min-width: $desktop-breakpoint) {
//   .container {
//     width: 1243px;
//   }
// }

// @layer base {
//   body {
//     min-height: 100vh;

//   }
// }
