@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h2{
  font-weight: 600;
  font-size: 32px;
  line-height: 1.18;
}

p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$large-desktop-breakpoint: 1440px;

body {
  font-family: Manrope, sans-serif;
  background-color: rgb(221, 230, 237);
}

.container {
  max-width: 340px;
  max-width: none;
}

section{
  padding-left: 10px;
  padding-right: 10px;
}

.center{
  margin: 0 auto;
}

@media screen and (min-width:375px) {
  .container{
    max-width: none;
    width: 340px;
    margin: 0 auto;
  }

  section{
    padding: 0px;
  }
}

@media (min-width: $tablet-breakpoint) {
  .container {
    width: 704px;
  }

  .section{
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .container {
    width: 1136px;
  }
};

@media (min-width:$large-desktop-breakpoint) {
  .container{
    width: 1302px;
  }
}
