@import "variables";

* {
    font-family: "JetBrains Mono", monospace;
    position: relative;
    z-index: 1;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    text-align: center;
}
h6{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
}