$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$background-color: #f5f5f5;

$dark_text_color: #1a1a1a;
$light_text_color: #f1f1f1;

// Media queries
$media-desktop: 1535px;
$media-laptop: 1025px;
$media-netbook: 960px;
$media-tablet: 832px;
$media-tablet-small: 672px;
$media-mobile: 480px;
$media-mobile-small: 336px;