.gallerySection {
  .categoryButton {
    padding: 8px 24px;
    border-radius: 20px;
  }

  .loadMoreBtn {
    margin: 0 auto;
    background-color: #000000;
    color: #ffffff;

    border-radius: 26px;
  }
}
